<!-- If statement to display weather data for each City -->

{% if weather_data %}
    <div class="current-container">
        <h2>{{ weather_data.city }}</h2>


        <div class="temp-description-container">
            <h4>{{ weather_data.temperature }}</h4>
            <p> | </p>
            <p class="desc">{{weather_data.description }}</p>
        </div>        

        <div class="humidity-wind-container">
            <p class="hw-item">H:{{ weather_data.humidity }}%</p>
            <p class="hw-item">W:{{ weather_data.wind_speed }} mph</p>
        </div>

        <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description}}">
    </div>
{% endif %}


<!-- 5-day Weather data for each City -->

{% if daily_forecasts %}
    <h4 class="forecast-title">5-Day Forecasts</h4>
    <div class="forecast-container">

        <!-- for loop to loop through each day in the 5 day list of forecast data -->
        <!-- For loop to display forecast data for each day from a city -->
        
        {% for forecast in daily_forecasts %}
            <div class="forecast">
                <h5>{{ forecast.day }}</h5>
                <p>{{ forecast.min_temp }}°C - {{ forecast.max_temp }}°C</p>

                <div class="humidity-wind-container">
                    <p class="hw-item">H:{{ forecast.humidity }}%</p>
                    <p class="hw-item">W:{{ forecast.wind_speed }} mph</p>
                </div>

                <div class="icon-description-container">
                    <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description}}">
                    <p> | </p>
                    <p class="desc">{{forecast.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}