{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link rel="stylesheet" href="{% static 'globals.css' %}">
    </head>

    <script src="{% static 'formValidation.js' %}"></script>

    <body> 

        <!-- Background video -->
        <video id="background-video" autoplay loop muted poster="https://v3.cdnpk.net/videvo_files/video/free/2014-06/thumbnails/Blue_Sky_and_Clouds_Timelapse_0892__Videvo_small.jpg">
            <source src="https://v3.cdnpk.net/videvo_files/video/free/2014-06/large_watermarked/Blue_Sky_and_Clouds_Timelapse_0892__Videvo_preview.mp4" type="video/mp4">
        </video>

        <h1 class="header">THE WEATHER</h1>
        <h2 class="sub-header">Compare it.</h2>

        <!-- Web application form template -->
        <form name="cityForm" method="post" onsubmit="return validateForm()">

            <!-- Pass a csrf token in -->
            {% csrf_token %}
            <input type="text" name="city1" placeholder="Enter your First City" required oninvalid="this.setCustomValidity('Enter a City name')" oninput="this.setCustomValidity('')">
            <input type="text" name="city2" placeholder="Enter your Second City">
            <button type="submit">Compare Weather</button>
        </form>

        <!-- Display fetched weather data -->
        <div class="comparison-container">

            <!-- IF statement to dictate which fetched data gets displayed if the weather data exists -->
            
            {% if weather_data1 %}
                <hr class="rounded">

                <div class="city-container">
                    <!-- Include weather data into DIV containers -->
                    {% include 'weather_app/city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}

                </div>
            {% endif %}

            {% if weather_data2 %}
                <div class="city-container">

                    <!-- Include weather data into DIV containers -->
                    {% include 'weather_app/city_weather.html' with weather_data=weather_data2 daily_forecasts=daily_forecasts2 %}
                </div>
            {% endif %}

        </div>
    </body>

</html>